*{
padding: 0;
margin: 0;
}
body{
	background: linear-gradient( #fff, #d9ddeb);
	overflow: hidden;
}
header{
	background-color: #415e9b;
	height: 82px;
	border-bottom: 1px solid #133783;
}
.header-block{
	width: 1100px;
	margin: 0 auto;
	padding: 20px;
}
.logo{
	width: 50%;
	float: left;
}
.facebook-login{
	width: 50%;
	float: left;
}
.logo img{
	padding-top: 10px;
	padding-bottom: 20px;
}
.header-block label{
	color: #fff;
}
.email{
	float: left;
	margin-left: 22px;
}
.email label{
	padding-bottom: 10px;
}
.email input[type="text"]{
	height: 20px;
	width: 150px;
	border: 1px solid #1d2a5b;
}
.password{
	float: left;
	margin-left: 15px;
}
.password input[type="password"]{
	height: 20px;
	width: 150px;
	border: 1px solid #1d2a5b;
}
.password a{
color: #8fb1d8;
text-decoration: none;
}
.password label{
	padding-bottom: 10px;
}
.login-button{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}
.login-button input[type="submit"]{
	background-color: #4267b2;
	border: 1px solid #29487d;
	border-radius: 2px;
	color: #fff;
	height: 20px;
	width: 50px;
}



.clearfix{
	clear: both;
}
.content-block{
	width: 1100px;
	margin: 0 auto;

}
.facebook-connect{
	margin-top: 50px;
	float:left;
	width: 50%;
}
.facebook-connect p{
	color: #537789;
	font-size: 24px;
	font-weight: bold;
}
.facebook-connect img{
	margin-top: 10px;
}
.create-account{
	float: left;
	width: 50%;
}
.create-account h2{
	font-size: 40px;
  color: #5E5F60;
}
.create-account .free{
		font-size:25px;
		color:#696773;
		font-weight: bold;
		margin-top: 20px;
}
.account input[type="text"]{
	font-size: 16px;
	margin-bottom: 15px;
	border-radius: 5px;
	padding: 10px;
	margin-left: 0px;
	border: 1px solid #bdc7d8;
}
.account input[name="mobile"]{
	width: 365px;
}
.account input[type="password"]{
	height: 15px;
	width: 365px;
	font-size: 16px;
	margin-bottom: 15px;
	border-radius: 5px;
	padding: 10px;
	margin-left: 0px;
	border: 1px solid #bdc7d8;
}
.account label{
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 15px;
}
.account a{
	text-decoration: none;
	color: #3677bc;
}
.account input[type="date"]{
		height: 24px;
		font-size: 18px;
		font-weight:200;
}
.account input[type="radio"]{
	margin-top: 20px;
	margin-bottom: 20px;
}
.account .by-clicking{
	color: #77777a;
}
.account input[type="submit"]{
	padding: 6px 12px;
	background-color:#6FB357;
	border: 1px solid #95d67c;
	border-radius: 5px;
	font-size: 23px;
	color:#fff;
	margin-top: 15px;
	margin-bottom: 15px;
}
.account .last{
	color: #77777a;
}
